<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Noticias Egg</title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="/estilos.css">
    </head>
    <body>

        <header>
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light" id="barraDeNav">
                    <div class="col-10 px-4 nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Noticias
                        </a>
                        <ul class="dropdown-menu">
                            <li><a  class="dropdown-item" th:href="@{/inicio}">Ver noticias</a></li>
                            <li><a sec:authorize="hasAnyRole('ADMIN','PERIODISTA')" class="dropdown-item" th:href="@{/noticia/crear}">Crear</a></li>
                            <li><a sec:authorize="hasAnyRole('ADMIN','PERIODISTA')"class="dropdown-item" th:href="@{/noticia/lista}">Editar</a></li>
                        </ul>
                    </div>
                    <div class="col-2 navbar-nav">
                        <a class="nav-link" th:href="@{/logout}">Cerrar Session</a>
                    </div>
                </nav>
            </div>
        </header>
        <div class="container">

            <div th:if = "${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                <div class="card-body">
                    <h5 class="card-title">Exito!</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>

            <div class="container">
                <div class="card-group">
                    <div class="card" th:each ="noticia : ${noticias}" style="max-width: 200px;margin: 15px;border-radius: 5px;">
                        <img class="card-img-top" th:src="@{'/'+${noticia.foto}}" alt="Card image cap" style="border-radius: 5px;">
                        <div class="card-body">
                            <h5 class="card-title" th:text = "${noticia.titulo}"></h5>
                            <a th:href = "@{/noticia/detalleNoticia/__${noticia.id}__}" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>