<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
    -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Biblioteca Egg</title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" href="/estilos.css">
    </head>
    <body>
        <header>
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light" id="barraDeNav">
                    <div class="col-10 px-4 nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Noticias
                        </a>
                        <ul class="dropdown-menu">
                            <li><a  class="dropdown-item" th:href="@{/inicio}">Ver noticias</a></li>
                            <li><a sec:authorize="hasAnyRole('ADMIN','PERIODISTA')" class="dropdown-item" th:href="@{/noticia/crear}">Crear</a></li>
                            <li><a sec:authorize="hasAnyRole('ADMIN','PERIODISTA')"class="dropdown-item" th:href="@{/noticia/lista}">Editar</a></li>
                        </ul>
                    </div>
                    <div class="col-2 navbar-nav">
                        <a class="nav-link" th:href="@{/logout}">Cerrar Session</a>
                    </div>
                </nav>
            </div>
        </header>

        <div class="container">

            <form action="/noticia/creado" method="post">

                <div th:if ="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title">Error %</h5>
                        <p class="card-text" th:text = "${error}"></p>
                    </div>
                </div>

                <div th:if = "${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-title">Exito!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-group" name="titulo" placeholder="Titulo de la noticia">
                </div>
                <div class="form-group">
                    <input type="text" class="form-group" name="cuerpo" placeholder="Cuerpo de la noticia">
                </div>
                <div class="form-group">
                    <input type="text" class="form-group" name="foto" placeholder="Foto de la noticia">
                </div>

                <button type="submit" class="btn btn-primary">Subir</button>

            </form>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  
    </body>
</html>